DatingApp.API/.vscode/*
DatingApp.API/bin/*
DatingApp.API/obj/*
DatingApp.API/*.db
DatingApp.API/.DS_Store
DatingApp.API/Thumbs.db

DatingApp-SPA/dist/*
DatingApp-SPA/tmp/*
DatingApp-SPA/out-tsc/*

DatingApp-SPA/node_modules/*

DatingApp-SPA/*.idea
DatingApp-SPA/*.project
DatingApp-SPA/*.classpath/*
DatingApp-SPA/.c9
DatingApp-SPA/*.launch
DatingApp-SPA/.settings/*
DatingApp-SPA/*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

DatingApp-SPA/*.sass-cache
DatingApp-SPA/connect.lock
DatingApp-SPA/coverage
DatingApp-SPA/libpeerconnection.log
DatingApp-SPA/npm-debug.log
DatingApp-SPA/testem.log
DatingApp-SPA/typings

DatingApp-SPA/e2e/*.js
DatingApp-SPA/e2e/*.map

DatingApp-SPA/.DS_Store
DatingApp-SPA/Thumbs.db